<nav class="navbar container-fluid navbar-dark justify-content-center">
  <a class="navbar-brand " routerLink="/">Music Library
  </a>
  </nav>
  <nav class="navbar container-fluid navbar-dark navbar-expand-md">
  <div class="collapse navbar-collapse justify-content-center">
    <ul class="nav navbar-nav justify-content-right">
      <li class="nav-item mx-5 ">
        <a class="nav-link" routerLink="songs" routerLinkActive="active">Songs</a>
      </li>
      <li class="nav-item mx-5">
        <a class="nav-link" routerLink="albums" routerLinkActive="active">Albums</a>
      </li>
      <li class="nav-item mx-5">
        <a class="nav-link" routerLink="bands" routerLinkActive="active">Bands</a>
      </li>
    </ul>
    </div>
</nav>


<main role="main" class="container-fluid">

  <div>
    <router-outlet></router-outlet>
  </div>

</main>