<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">ExamProjectAngular
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="songs" routerLinkActive="active">Songs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="albums" routerLinkActive="active">Albums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bands" routerLinkActive="active">Bands</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container-fluid">

  <div>
    <router-outlet></router-outlet>
  </div>

</main>