<div class="modal-header text-center">
    <h4 class="modal-title w-100">Delete song?</h4>
  <button type="button" (click)="hideDialog()"
          class="btn-close close" aria-label="Close">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <p>Are you sure you want to delete song "{{song.name}}"?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="hideDialog()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="deleteSong()">Delete</button>
</div>
