<div class="d-flex justify-content-between mt-2">
    <h3>Albums</h3>
    <div>
      <button (click)="onCreateClick()" class="btn btn-primary">Create</button>
    </div>
  </div>
    <table class="table table-striped table-dark table-hover" id="albumsTable">
      <thead>
      <tr>
        <th>Name <button class="btn btn-light btn-sml pd-0" (click)="sort(0)">&#8597;</button></th>
        <th>Year Released <button class="btn btn-light btn-sml pd-0" (click)="sort(1)">&#8597;</button></th>
        <th>Band <button class="btn btn-light btn-sml pd-0" (click)="sort(2)">&#8597;</button></th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of albums">
          <td>{{album.name}}</td>
          <td>{{album.yearReleased}}</td>
          <td>{{album.band.name}}</td>
          <td>
            <button (click)="onUpdateClick(album)"
              class="btn btn-sm btn-light ms-2 mb-2">Edit
            </button>
            <button (click)="onDeleteClick(album)"
              class="btn btn-sm btn-danger ms-2 mb-2">Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  